.idea
node_modules

web.config

.vscode

# See http://help.github.com/ignore-files/ for more about ignoring files.
# [Angular Project]

# compiled output

# dependencies

# IDEs and editors
*.launch
*.sublime-workspace

# IDE - VSCode

# misc

# e2e

# System Files


# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore  [Ionic Project]

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
